header {
    border-bottom:1px solid gray;
    padding:20px;
}
nav {
    border-right:1px solid gray;
    height:600px;
    width:200px;
    float:left;
}
nav ul {   
    list-style:none;
}
article {
    padding:20px;
    float:left;
}
